<% content_for :google_analytics do %>
  <%= render partial: 'spree/shared/google_checkout.js', locals: { order: @order, step_number: (@order.checkout_steps.index(@order.state) + 1) } %>
<% end %>

<div id="checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <div class="row">
    <% if @order.state == 'confirm' %>
      <div class="col-sm-12">
        <div class="checkout_content <%= 'disabled-step' if @order.state!='confirm' or in_registration_step? %>" data-step="confirm" data-hook="checkout_content" id="checkout_confirm">
            <%= render :partial => 'spree/checkout/form_wrapper', :locals => { :order => @order, :state => 'confirm' } %>
          </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-9">
          <% if Spree::Auth::Config[:registration_step] and !current_spree_user %>
            <div class="checkout_content <%= 'disabled-step' unless in_registration_step? %>" data-step="registration" data-hook="checkout_content" id="checkout_registration">
              <%= render "spree/checkout/registration" %>
            </div>
          <% end %>

          <% @order.checkout_steps[0...-1].each do |state| %>
            <% next if state == 'confirm' %>
            <div class="checkout_content <%= 'disabled-step' if state != @order.state or in_registration_step? %>" data-step="<%= state %>" data-hook="checkout_content" id="checkout_<%= state %>">
              <%= render :partial => 'spree/checkout/form_wrapper', :locals => { :order => @order, :state => state } %>
            </div>
          <% end %>
        </div>

        <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
          <div data-spy="affix" data-offset-top="140">
            <%= render partial: 'summary', locals: { order: @order } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#checkout_<%= @order.state %>")[0].scrollIntoView();
  });
</script>
